#!/bin/sh

# general
export EDITOR=nvim
export PAGER=nvim
export PDF_VIEWER=sioyek
export XDG_SESSION_TYPE=x11
export GDK_BACKEND=x11

# theme
export GTK_THEME=Nordic
export QT_QPA_PLATFORMTHEME=qt6ct
export QT_SCALE_FACTOR=1.5

# paths
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_DOWNLOAD_DIR="$HOME/Downloads"
export PATH="/usr/sbin:/usr/local/go/bin:$HOME/go/bin:$HOME/.cargo/bin:$HOME/.local/bin:$PATH"
export PATH="$HOME/.dotfiles/scripts/utils:$HOME/.dotfiles/scripts/tmux:$PATH"
export LD_LIBRARY_PATH=/usr/local/lib
export ZDOTDIR=$HOME/.config/zsh     
export ANKI_BASE="$HOME/nextcloud/apps/anki-data"
export NODE_PATH=$NODE_PATH:$(npm root -g)

# startup
unclutter -idle 1 & # hide mouse pointer
picom --config $HOME/.dotfiles/config/picom/picom.conf & # window compositor
hsetroot -solid "#252A34" & # solid background
xset s off -dpms & # monitor always on
nextcloud --background & # establish connection to cloud server
clipmenud & # clipboard manager daemon
redshift -l 47.66667:8.98333 & # night light with coordinates
xbindkeys & # playerctl with headphones
xautolock -time 15 -detectsleep -locker "systemctl suspend" & # suspend after inactivity
mpd & # music player daemon
playerctld & # Switch Tracks
touchegg & # touch gestures
protonmail-bridge --no-window --noninteractive & # mail backend, run in background

# keyring
$HOME/nextcloud/apps/keyring.sh & # retrieve keyring
dbus-update-activation-environment --all & # activate keyring

# script
$HOME/.dotfiles/scripts/utils/bat-indicator & # show battery level
$HOME/.dotfiles/scripts/watchers/autovdirsyncer & # sync calendar/contacts on write
$HOME/.dotfiles/scripts/utils/applets & # staart applets in order
