#!/bin/sh

# --- Monitor Setup
# xrandr --setprovideroutputsource modesetting NVIDIA-0 &
# xrandr --auto &
# xrandr --dpi 110 &

# --- Variables
export XDG_SESSION_TYPE=x11
export GDK_BACKEND=x11
export GTK_USE_PORTAL=0
export QT_QPA_PLATFORMTHEME=qt5ct
export EDITOR=nvim
export PAGER=nvim
export GTK_THEME=Nordic
export XDG_CONFIG_HOME="$HOME/.config"
export PATH="/usr/sbin:/home/fabian/.cargo/bin:/home/fabian/.local/bin:$PATH"
export LD_LIBRARY_PATH=/usr/local/lib
export ZDOTDIR=$HOME/.config/zsh     
export TERM=alacritty
export LANG="en_US.utf8"
export MOZ_USE_XINPUT2=1
export PYTHONPATH=":/home/fabian/code/smart-factory-python"

# --- Startup services
exec systemctl --user import-environment &
bluetoothctl power on &
unclutter -idle 1 &
gnome-keyring-daemon --start --components=pkcs11 &
xset r rate 350 60 &
xset s off -dpms &
picom --config ~/.dotfiles/config/picom/picom.conf &
hsetroot -solid "#252a34" &
rumno-background &
setxkbmap us altgr-intl &
redshift -l 47.66667:8.98333 &
signal-desktop --start-in-tray --no-sandbox &
xinput set-int-prop 20 "Device Enabled" 8 0 &
nextcloud &

# --- Keyring
eval $(gnome-keyring-daemon --start)
export SSH_AUTH_SOCK
