[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "config/gtk/Nordic"]
	path = config/gtk/Nordic
	url = https://github.com/EliverLara/Nordic
[submodule "config/zsh/pure"]
	path = config/zsh/pure
	url = https://github.com/sindresorhus/pure
