#!/bin/sh
# --- Variables
export EDITOR=lvim
export GTK_THEME=Nordic
export XDG_CONFIG_HOME="$HOME/.config"
export PATH="$HOME/.local/bin:$PATH"
export LD_LIBRARY_PATH=/usr/local/lib
export export ZDOTDIR=$HOME/.config/zsh     
export TERM=alacritty

# --- Startup programs
rumno-background &
$HOME/.config/polybar/launch.sh &
mailspring -b %U &
xfsettingsd &
bluetoothctl power on &
picom -b &
xfce4-power-manager &
unclutter --timeout 3 &
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
gnome-keyring-daemon --start --components=pkcs11 &
setxkbmap us
xset r rate 350 60 &
xset s off -dpms                
