#!/bin/sh

xrandr --setprovideroutputsource modesetting NVIDIA-0 &
xrandr --auto &
xrandr --dpi 96 &

# --- Variables
export XDG_SESSION_TYPE=x11
export GDK_BACKEND=x11
export QT_QPA_PLATFORMTHEME=qt5ct
export EDITOR=nvim
export PAGER=nvim
export GTK_THEME=Nordic
export XDG_CONFIG_HOME="$HOME/.config"
export PATH="/usr/sbin:/home/fabian/.cargo/bin:/home/fabian/.local/bin:$PATH"
export LD_LIBRARY_PATH=/usr/local/lib
export ZDOTDIR=$HOME/.config/zsh     
export TERM=alacritty
export LANG="en_US.utf8"
export MOZ_USE_XINPUT2=1

# --- Startup services
bluetoothctl power on &
unclutter --timeout 3 --start-hidden &
gnome-keyring-daemon --start --components=pkcs11 &
xset r rate 350 60 &
xset s off -dpms &
xsetroot -solid "#252a34" &
rumno-background &
setxkbmap us altgr-intl &
redshift -l 47.66667:8.98333 &
